<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hello</title>
  </head>
  <body style="background-color: azure;">

    <%- include('partials/nav'); %> 

    <h1>Hello <%=person%></h1>

    <p>Very nice bada age: <%=data.age%> Job <%=data.job%></p>
    <p>
      <ul>
          <% data.hobbies.forEach(function(item){ %>
            <li>
                <%=item %>  </li>

         <%  }) %> 
      </ul>
    </p>
  </body>
</html>
